{% extends 'Bases/listar.html' %}

{% block agregar %}
  <a href="{% url 'addTeam' %}" class="btn btn-lg btn-primary btn-block" role="button">Agregar Equipo</a>
{% endblock %}

{% block titulo %}
  <a class="navbar-brand" href="#">Equipos</a>
  <a href="{% url 'OpcionesAdmin' %}">Atras</a>
{% endblock %}

{% block nombreLista %}
  <h1 style="margin-top:30px;">Listado de Equipos</h1>
{% endblock %}

{% block lista %}
  <thead>
    <tr>
      <th scope="col">Logo</th>
      <th scope="col">Nombre</th>
      <th scope="col">Descripcion</th>
    </tr>
  </thead>

  <tbody>
    {% for Objeto in lista_objetos %}
    <tr>
      <td><img src="{{Objeto.logo.url}}" alt="foto" width="50px" height="40px"></td>
      <td>{{Objeto.name}}</td>
      <td>{{Objeto.description}}</td>
      <td>
        <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Opciones
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
            <a class="dropdown-item" href="{% url 'editTeam' Objeto.id %}">Editar</a>
            <a class="dropdown-item" href="{% url 'deleteTeam' Objeto.id %}">Eliminar</a>
          </div>
        </div>
      </td>
    </tr>
    {% endfor %}
  </tbody>
{% endblock %}
