{% extends 'Bases/agregar.html' %}

{% block titulo %}
  <h1 style="margin-top:30px;">Agregar Player</h1>
{% endblock %}

{% block datos %}

{{form.as_p}}
<!-- <div class="form-group">
  <h3>{{form.name.label}}</h3>
  {{ form.name }}
</div>

<div class="form-group">
  <h3>{{form.nickname.label}}</h3>
  {{ form.nickname }}
</div>

<div class="form-group">
  <h3>{{form.birthday.label}}</h3>
  {{ form.birthday }}
</div>

<div class="form-group">
  <h3>{{form.age.label}}</h3>
  {{ form.age }}
</div>

<div class="form-group">
  <h3>{{form.rut.label}}</h3>
  {{ form.rut }}
</div>

<div class="form-group">
  <h3>{{form.email.label}}</h3>
  {{ form.email }}
</div>

<div class="form-group">
  <h3>{{form.height.label}}</h3>
  {{ form.height }}
</div>

<div class="form-group">
  <h3>{{form.weight.label}}</h3>
  {{ form.weight }}
</div>

<div class="form-group">
  <h3>{{form.position.label}}</h3>
  {{ form.position }}
</div>

<div class="form-group">
  <h3>{{form.team.label}}</h3>
  {{ form.team }}
</div>

<div class="form-group">
  <h3>{{form.picture.label}}</h3>
  {{ form.picture }}
</div> -->


<!-- <p>
  Foto:
  <input id="id_image" type="file" class="" name="image">
</p> -->

{% endblock %}
