{% extends 'Bases/listar.html' %}

{% block agregar %}

{% endblock %}

{% block titulo %}
  <a class="navbar-brand" href="#">Jugador</a>
{% endblock %}

{% block nombreLista %}
  <h1 style="margin-top:30px;">Listado de Nominas</h1>
{% endblock %}

{% block lista %}

  <thead>
    <tr>
      <th scope="col">NombrePartido</th>
      <th scope="col">Fecha</th>
      <th scope="col">Hora</th>
      <!-- <th scope="col">Jugadores</th> -->
    </tr>
  </thead>

  <tbody>
    {% for Objeto in lista_objetos %}
    <tr>
      <td>{{Objeto.nombrePartido}}</td>
      <td>{{Objeto.fecha}}</td>
      <td>{{Objeto.hora}}</td>
      <!-- <td>{{Objeto.jugador}}</td> -->
      <td>
        <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Opciones
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
            <a class="dropdown-item" href="{% url 'ver_juagdoresNomina' Objeto.id %}">Ver Jugadores</a>
          </div>
        </div>
      </td>
    </tr>
    {% endfor %}
  </tbody>

{% endblock %}

{% block paginacion %}
{% endblock %}
