{% extends 'Bases/listar.html' %}

{% block agregar %}
{% endblock %}

{% block titulo %}
  <a class="navbar-brand" href="#">Hola Entrenador</a>
  <a href="{% url 'logout' %}">Salir</a>
{% endblock %}

{% block nombreLista %}
  <h1 style="margin-top:30px;">Categorias</h1>
{% endblock %}

{% block lista %}

  <tbody>
    <tr>
      <a href="{% url 'ver_team' %}" class="btn btn-lg btn-primary btn-block" role="button">Mi equipo</a>
    </tr>

    <tr>
      <a href="{% url 'listnomina' %}" class="btn btn-lg btn-primary btn-block" role="button">Nominas</a>
    </tr>

  </tbody>

{% endblock %}

{% block paginacion %}
{% endblock %}
